body {
  --colorPrimary: #ff9800;
  --colorPrimaryDark: #f57c00;
  --colorPrimaryLight: #ffe0b2;
  --colorAccent: #03a9f4;
  --colorPrimaryText: #212121;
  --colorSecondaryText: #757575;
  --colorIcons: #212121;
  --colorDivider: #bdbdbd;
}
